/* .button {
  background: transparent;
  border: 1px solid white;
  color: white;
  padding: 0.5rem 1rem;
  cursor: pointer;
  margin-left: 0.5rem;
  transition: background 0.3s, color 0.3s;
} */

.button {
  background: transparent;
  background-color: ghostwhite;
  border: 1px solid ghostwhite;
  border-radius: 1rem;
  color: black;
  padding: 0.5rem 1rem;
  cursor: pointer;
  margin-left: 0.5rem;
  transition: background 0.3s, color 0.3s;
}

.button:hover {
  background: azure;
  border: 1px solid azure;
}
